.shop {
  border: 2px solid magenta;
  display: flex;
}

.brew-cards {
  padding: 1rem 0;
  display: grid;
  margin: 0 auto;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, minmax(15em, 20em));
  grid-template-rows: repeat(auto-fit, minmax(10em, auto));

}

@media screen and (max-width: 900px) {
  .brew-cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}