@use '../../sass/variables'as *;
@use '../../sass/mixins'as *;

.cart {
  display: flex;
  max-height: 95vh;
  justify-content: center;
  flex-flow: row wrap;
  padding: 1.5rem 0;
}


.cart-card {
  min-width: 60%;
  height: 70vh;
  max-height: 80vh;
  border-radius: 10px;
  outline: 2px solid black;
  background-color: $primary-color;
  font-size: 1.25rem;
  padding: 1rem;


  &--cart-header {
    text-align: center;
    font-size: 2rem;
  }
}


.cart-content-container {
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid black;
  border-radius: 10px;
  height: 75%;
  min-width: 65%;
  overflow-y: scroll;
  overflow-x: auto;
  float: left;
}

.empty-txt {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 20%;
}

.cart-item {
  @include flex-container(flex, row nowrap, center, space-between);
  padding: .5rem 1rem;
  border-bottom: 1px solid black;
  margin: .25rem;

  &--item-icon {
    max-width: 3.5rem;
  }
}


.item-details {
  @include flex-container(flex, column wrap, flex-start, unset);
  width: 25%;
  max-width: 30%;
  padding: 0 .5rem;

  &--item-name {
    text-decoration: underline;
  }
}

.cart-counter {
  @include flex-container(flex, row wrap, center, space-around);
  min-width: 15%;

  &--increase-btn {
    width: 2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: $secondary-color;
  }

  &--decrease-btn {
    width: 2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: $accent-color-two;

    &:disabled {
      cursor: not-allowed;
      background-color: #b1b1b1;
    }
  }

  >button {
    &:hover:enabled {
      background-color: black;
      color: $primary-color;
    }
  }
}

.cart-prices {
  min-width: 10%;
  text-align: center;

  &--final-total {
    font-size: 1.5rem;
    text-decoration: underline;
  }
}


.cart-sidebar {
  font-size: 1.5rem;
  padding: 1rem;
  line-height: 1.6;
  float: right;
}

.cart-totals {
  &--final-total {
    font-size: 1.75rem;
    font-weight: 400;
    text-decoration: underline;
  }
}

.place-order {
  @include flex-container(flex, row nowrap, center, space-between);
  min-height: 20%;
  text-align: center;

  &--btn {
    background-color: $accent-color-three;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: .25rem 1.5rem;

    &:disabled {
      cursor: not-allowed;
      background-color: #bbb;
    }

    &:active:enabled {
      transform: translateY(2px);
      box-shadow: 5px 3px 0px 3px black;
    }

    &:hover:enabled {
      background-color: $secondary-color;
      color: $primary-color;
    }

  }
}


@media screen and (max-width:1000px) {
  .cart-card {
    @include flex-container(flex, column nowrap, center, center);

    &--cart-header {
      font-size: 1.5rem;
    }
  }

  .cart-item {
    font-size: .85em;

    &--item-icon {
      width: 2.5rem;
    }
  }

  .cart-sidebar {
    font-size: 1rem;
  }

  .place-order {
    font-size: 1rem;

    &--final-total {
      font-size: 1rem;

    }
  }

}

@media screen and (max-width:590px) {
  .cart {
    flex-flow: column nowrap;
  }


}