@use '../../sass/variables.scss'as *;
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


.homepage {
  // border: 3px solid magenta;
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items:center;
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;
  height:40%;

  &--heading {
    color: $primary-color;
    text-shadow: 1px 1px 2px black;
    filter:drop-shadow(-2px 2px 0px rgba(0, 0, 0, 0.583));
    font-size: 5.75vw;
  }

  &--subheading {
    font-size: 4vw;

  }

  &--site-name {
    font-size: 8.5vw;
    font-style: italic;
    color: $primary-color;
    text-shadow: 1px 0px 0px black,
      -1px 0px 0px black,
      0px 1px 0px black,
      0px -2px 0px black,
      0px 2px 0px black,
      2px 0px 0px black,
      -2px 0px 0px black,
      -5px 4px 0px $secondary-color,
      -7px 6px 0px $accent-color-three,
      -9px 8px 0px $accent-color-two,
      -10px 9px 0px black,
  }

}


.browse-wrapper {
  border:102px dodgerblue;
  font-size: 2.5vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  &--coffee-btn,
  &--tea-btn {
    color: black;
    box-shadow: 7px 5px 0px 3px $primary-color;
    border: 2px solid black;
    border-radius: 10px;
    padding:.2rem 1rem;
    transition: all 50ms ease;
    cursor: pointer;

    &:active {
      transform: translateY(2px);
      box-shadow: 5px 3px 0px 3px $primary-color;
    }

  }

  &--coffee-btn {
    background-color: #a47c6c;
  }

  &--tea-btn {
    background-color: #7ea46c;
  }
}