@use '../../sass/variables'as *;

.orders {
  outline: 2px solid red;
  display: flex;
  min-height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.order-card {
  background-color: $primary-color;
  min-width: 75%;
  min-height: 80%;
  border-radius: 10px;
  outline: 2px solid white;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  color: black;
  font-size: 1.25rem;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}


.order-details {
  display: flex;
  flex-flow: column nowrap;
  // align-items: center;
  justify-content: space-between;
  margin: .5rem 0;
  width: 95%;
  max-height: 30em;
  // overflow-y: scroll;
  border-radius: 10px;
  padding: 1rem;
  outline: 2px solid rgb(255, 0, 0);

  &--header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-end;
  }

  &--inner {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: wheat;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  // &--num-total {
  //   float:right;
  // }

  // &--order-total {
  //   float: right;
  //   width: 20%;
  // }
}

.items-list {
  height: 100%;
  display: flex;
  background-color: wheat;
  overflow: auto;
  flex-flow: column nowrap;
  // justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.ordered-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  border: 3px solid;
  margin: .75rem 0;
  width: 75%;
  max-height: 100%;
  padding: 1rem 0;
  border-radius: 5px;

  &--item-icon {
    max-width: 7.5rem;
  }

  &--item-name {
    width: 40%;
  }
}

.order-details-sidebar {
  outline: 2px solid dodgerblue;
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}