@use '../../sass/variables'as *;

.header {
  display: flex;
  letter-spacing: .075vw;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
}

.header-left{
  // outline:1px solid red;
  float:left;
}


.header-center {
  display: flex;
  flex-flow: row nowrap;
  margin:0 auto;
  // outline:1px solid red;
}

.header-right {
  // display: flex;
  // flex-flow: row nowrap;
  // outline:1px solid red;
  float:right;
}

.site-logo {
  max-width: 9vh;
  border-radius: 10px;
  filter:drop-shadow(1px 1px 1px black)
}

.nav-link,
.nav-link-a {
  background-color:  $primary-color;
  background-color: none;
  outline: 1px solid black;
  border-radius: 10px;
  padding: .25rem 1rem;
  // font-size: 1.75vw;
  color:black;
  margin: .25rem;
  // color: $primary-color;
  // text-shadow: 1px 1px 0px $primary-color,
  //   -1px 0px 0px $primary-color,
  //   0px 0px 1px black;

  &:hover {
    outline: 1px solid black;
  }
}

.nav-link-a {
  color:$primary-color;
  outline:1px solid black;
  // text-shadow: 1px 1px 0px #000000,
  // -1px 1px 1px #000000;
  
  &--coffee {
    background-color: #a47c6c;

    &:hover {
      background-color: #a47c6c;
    }
  }
  &--tea{
    background-color:#7ea46c;
  }

  &--cart{
    color:black;
    background-color:#f49787;
  }
  
  &--orders{
    color:black;
    background-color:$accent-color-three;
  }
}

