@use '../../sass/variables'as *;

.header {
  // outline: 3px solid red;
  display: flex;
  padding: 1rem 1rem 0 .5rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

// .header-link:active {
//   button {
//     background: blue;
//   }
// }

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.site-logo {
  max-width: 12vh;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1rem;
}

.orders-link,
.cart-link,
.header-active {
  background-color: none;
  border-radius: 10px;
  border: .15vw solid black;
  padding: .5vw .75vw;
  font-size: 1.25rem;
  color:$primary-color;
  text-shadow: 1px 1px 0px black;
  &:hover {
    background-color: $accent-color-three;
    color: $primary-color;
  }
}

// .orders-link-txt, .cart-link-txt{
//   font-size: 1.5rem;
// }

.header-active {
  background-color: $secondary-color;
  color: $primary-color;

}

// .cart-img {
//   margin: 0 2rem;
// }