@use './sass/variables'as *;

html {
  background-image: url('./assets/bg_waves_dark3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  font-family: $primary-font;
  color: black;
}

.App {
  height: 100%;
}