@use './sass/variables'as *;

html {
  background-image: url('./assets/bg_waves3.svg');
  background-image: url('./assets/bg_waves2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  // background: url('./assets/bg_waves2.svg') no-repeat center center fixed; 
}

body {
  font-family: $primary-font;
  color: black;
}

.App {
  height: 100%;
}